/* SECTION 1 */
/* Slider */

body {
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.wrapper-slider {
    position: relative;
    max-width: 1400px;
    margin: 0 auto 50px;
    width: 100%;
}

.wrapper-slider .slider {
    display: flex;
    overflow-x: hidden;
}

.wrapper-slider .slider img {
    width: 1500px;
    height: 500px;
}

@keyframes slideShow {
    10% {
        margin-left: 0;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    65% {
        margin-left: -200%;
    }

    80% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}

.wrapper-slider .slider-nav {
    position: absolute;
    display: flex;
    margin-top: 15px;
    column-gap: 15px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.wrapper-slider .slider-nav span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #7f7f7f;
    opacity: 0.9;
    transition: opacity ease 0.25s;
}

.wrapper-slider .slider-nav span:hover {
    opacity: 1;
    cursor: pointer;
}


.banner .owl-dots {
    margin-top: 20px;
}


.banner .owl-dots .owl-dot span {
    height: 13px !important;
    width: 13px !important;
}

.banner .owl-nav {
    display: none;
}


.wrapper-container .item {
    position: relative;
    padding: 0 10px;
    margin-bottom: 20px;
}

.wrapper-container .item > div {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

.item .product-element-bottom {
    padding: 15px;
}

.item .product-element-bottom a {
    font-size: 14px;
    line-height: 1.4;
    color: #242424;
    transition: all 0.3s;
}

.wrapper-container .item a:hover {
    color: rgb(51 51 51 / 65%);
}

.wrapper-container .item img {
    width: 270px;
    height: 270px;
    transition: all 1s;
}

.wrapper-container .item img:hover {
    scale: 1.1;
}

.wrapper-container .item:hover .wd-buttons {
    opacity: 1;
    visibility: visible;
    transform: none;
}

.wd-buttons {
    z-index: 4;
    display: flex;
    position: absolute;
    top: 10px;
    right: 20px;
    flex-direction: column;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1) !important;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateX(12px) translateZ(0);
}

.wd-action-btn {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.wd-action-btn:hover {
    opacity: 0.7;
}


.wd-buttons .wd-action-btn i {
    font-size: 20px;
    color: #333;
    opacity: 0.9;
}


/* SECTION 2 */

#section2 {
    width: 1200px;
    margin: 0 auto;
}


#section2 .container {
    display: flex;
    justify-content: center;
}

#section2 .image-box-wrapper {
    padding-bottom: 10px;
}


#section2 .image-box-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 20px;
}

#section2 .image-box-content > p,
#section2 .image-box-content > h1 {
    margin-bottom: 20px;
    line-height: 1.6;
}

#section2 .image-box-content p {
    font-size: 14px;
    color: #777;
}

#section2 .image-box-content h1 {
    color: #26B402;
    font-weight: 600;
    font-size: 28px;
}

/* SECTION 3 */

#section3 {
    background-color: #ececec;
}

#section3 section {
    margin-bottom: 20px;
}

#section3 .wrapper-container {
    width: 1200px;
    margin: 0 auto;
}

#section3 .wrapper-container .container {
    padding: 50px 0;
}

#section3 .wrapper-container .heading {
    text-align: center;
}

#section3 .heading h1 {
    font-size: 24px;
    color: #26B402;
    margin-bottom: 20px;
}

#section3 .heading p {
    font-size: 14px;
    color: #777777;
}

#section3 .display {
    display: flex;
    justify-content: center;
}

#section3 .display .display-item {
    text-align: center;
    padding: 10px;
}

#section3 .display .display-item > div {
    width: 200px;
    height: 200px;
}

#section3 .display .display-item img {
    transition: all .4s;
}


#section3 .display .display-item img:hover {
    cursor: pointer;
    scale: calc(1.1);
}


#section3 .display-item h3 {
    font-size: 23px;
    padding: 23px;
}


#section3 .wrapper-services .services {
    display: flex;
    align-items: center;
    height: 200px;
}

#section3 .services-introduce {
    width: 28%;
    height: 225px;
    background-color: #4CBB17;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

#section3 .services-introduce p {
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 35px;
}

#section3 .services-introduce a {
    font-size: 15px;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: #037112;
    color: white;
}

#section3 .service {
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    height: 100%;
    margin: 10px;
}

#section3 .service p {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

#section3 .wrapper-services .service img {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
}

#section3 .wrapper-services .service img:hover {
    animation-name: elementor-animation-buzz-out;
    animation-duration: .75s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    cursor: pointer;
}


@keyframes elementor-animation-buzz-out {
    10% {
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        transform: translateX(1px) rotate(0);
    }

    100% {
        transform: translateX(-1px) rotate(0);
    }
}

/* SECTION 4 */
#section4 .wrapper-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

#section4 .wrapper-heading {
    margin-bottom: 20px;
}


#section4 .wrapper-heading .heading {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#section4 .wrapper-heading .heading h1::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
}

#section4 .wrapper-heading .heading h1 {
    position: relative;
    font-size: 22px;
    color: #26B402;
    padding: 10px 0;
    width: fit-content;
}

#section4 .wrapper-container .container {
    display: flex;
}

#section4 .display-item {
    width: 25%;
    margin-right: 10px;
}

#section4 .slider {
    display: flex;
    overflow-x: hidden;
}

#section4 .display-item {
    position: relative;
    width: 300px;
    height: 350px;
}

#section4 .display-item img {
    position: relative;
    width: 300px;
    height: 350px;
}

#section4 .display-item a {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #61CE70;
    border-radius: 8px;
    font-size: 15px;
    padding: 12px 25px;
}

#section4 .slider img {
    width: 300px;
    height: 350px;
    animation: slideShow1 15s infinite;
}

@keyframes slideShow1 {
    25% {
        margin-left: 0%;
    }

    30% {
        margin-left: -100%;
    }

    65% {
        margin-left: -100%;
    }

    70% {
        margin-left: -200%;
    }

    95% {
        margin-left: -200%;
    }
}

#section4 .item {
    padding: 0 10px;
    margin-bottom: 20px;
}

#section4 .item > div {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}

#section4 .item p {
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #242424;
}

#section4 .item img {
    width: 270px;
    height: 270px;
    transition: all 0.3s;
}

#section4 .item img:hover {
    scale: 1.1;
}

/* SECTION 5 */
#section5 {
    margin: 20px;
}

#section5 .wrapper-container {
    padding: 28px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#section5 .container {
    border: 1px solid rgba(0, 0, 0, 0.11);
}

#section5 .item img {
    width: 120px;
    height: 120px;
}

#section5 .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-inline-end-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.11);
}

#section5 .owl-dots {
    display: none;
}

#section5 .owl-nav {
    margin: 0;
    font-size: 22px;
}

#section5 .owl-nav button:hover {
    background-color: unset;
}

#section5 .owl-nav span {
    font-size: 50px;
    margin: 0;
    border: unset;
}

#section5 .owl-nav span:hover {
    background-color: white;
    color: black;
}

#section5 .owl-nav button {
    margin: 0;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: white !important;
    color: black !important;
    text-decoration: none;
}


#section5 .owl-nav .owl-prev {
    position: absolute;
    left: -28px;
    top: 46%;
    transform: translateY(-50%);
}

#section5 .owl-nav .owl-next {
    position: absolute;
    right: -28px;
    top: 46%;
    transform: translateY(-50%);
}