.header>.container-2 {
    width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.header-center .menu-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 40px;
}
.page-title {
    height: 200px;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center ;
    justify-content: center ;
    margin-bottom: 40px;
}
.page-title .title {
    color: white;
    font-size: 68px;
}
.title{
    margin-top: 10px;
    text-align: center !important;
    font-weight: bold;
}
a {
    text-decoration: none !important;
}

.menu-2>.menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}
/* CSS cho ORDER DETAIL */


.Account__Style{
    font-size: 13px;
    color: rgb(36, 36, 36);
    line-height: 1.5;
}
.Account__Style .heading {
    font-size: 19px;
    font-weight: 300;
    margin: 20px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.Account__Style .heading .split{
    margin: 0px 5px;
}
.Account__Style .heading .status {
    font-weight: bolder;
}
.Account__Style .created-date {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.Account__Style .view-invoices {
    color:#8ccd28;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 14px;
}
.styles_section-1 {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
}
.styles_section-1 .title {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 0px 15px;
    color: rgb(36, 36, 36);
}
.styles_section-1 .content {
    display: flex;
    background-color: #7fad390f;
    padding: 10px;
    border-radius: 4px;
    height: 100%;
}
.styles_section-1 .content .notifications {
    display: flex;
    flex-direction: column;
}
.styles_section-1 .content .notifications__item {
    display: flex;
}
.styles_section-1 .content .notifications__item .date {
    min-width: 160px;
}
.styles_section-1 .content .notifications__item .comment {
    text-align: left;
}
.styles_section-2 {
    display: flex;
    margin: 10px 0px 20px;
}
.styles_section-2 > div:first-child {
    margin-left: 0px;
}
.styles_section-2 > div {
    width: 33.3333%;
    margin: 0px 5px;
}
.styles_group_1 {
    margin: 10px 0px 20px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.65);
}
.styles_group_1 .title {
    font-size: 13px;
    text-transform: uppercase;
    margin: 0px 0px 15px;
    color: rgb(36, 36, 36);
}
.styles_group_1 .content {
    display: flex;
    flex-direction: column;
    background-color: #7fad390f;
    padding: 10px;
    border-radius: 4px;
    height: 100%;
}
.styles_group_1 .name {
    text-transform: uppercase;
}
.styles_section-2 .name {
    color: rgb(36, 36, 36);
    font-weight: bold;
}
.styles_section-2 p {
    margin: 5px 0px 0px;
}
.styles_group_1 .address span, .styles_group_1 .phone span {
    color: rgb(74, 74, 74);
    font-weight: 300;
}
.styles_section-2 > div:last-child {
    margin-right: 0px;
}
.styles_section-3 {
    width: 100%;
    color: rgb(66, 66, 66);
    display: table;
    font-size: 13px;
    background: #7fad390f;
    border-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0px;
    line-height: 1.5;
    word-break: break-word;
}
.styles_section-3 thead {
    display: table-header-group;
}
.styles_section-3 tr {
    display: table-row;
    padding: 10px;
}
.styles_section-3 thead tr th:first-child {
    border-left: none;
}
.styles_section-3 thead tr th:last-child {
    text-align: right;
    min-width: 160px;
}
.styles_section-3 thead tr th {
    display: table-cell;
    padding: 20px 15px;
    border-top: none;
    min-width: 100px;
    position: relative;
    background: 0px 0px;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgb(244, 244, 244);
    text-align: left;
}
.styles_section-3 tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.styles_section-3 tbody tr:first-child {
    border-top: none;
}
.styles_section-3 tbody tr td:first-child {
    border-top: none;
    border-left: none;
}
.styles_section-3 tbody tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}
.styles_section-3 tbody tr td {
    border: none;
    position: relative;
    display: table-cell;
    padding: 20px 15px;
    color: rgb(36, 36, 36);
    vertical-align: top;
    min-width: 100px;
}
.styles_section-3 tbody tr td .product-item{
    display: flex;
}
.styles_section-3 tbody tr td .product-item img {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    vertical-align: middle;
    border-style: none;
}
.styles_section-3 tbody tr td .product-item .product-info .product-name {
    font-size: 14px;
    color: rgb(36, 36, 36);
}
.styles_section-3 tbody tr td .product-item .product-info .product-seller {
    font-size: 11px;
}
.styles_section-3 tbody tr td .product-item .product-info .product-sku {
    margin: 12px 0px;
}
.styles_section-3 tbody tr td .product-item .product-info .product-review a {
    display: inline-block;
    margin-right: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid #8ccd28;
    font-size: 12px;
    color: #8ccd28;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.styles_section-3 tbody tr td .product-item .product-info .product-review button{
    border: 1px solid #cd2828;
    font-size: 12px;
    color:#cd2828;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
}
/* Write comment begin */
.cac-nut {
    width:  40%;
    margin:  auto;
    margin-top:  50px;
    text-align:  center;
}

.btn-open {
    padding: 8px 10px;
    border:  none;
    color:  #fafafa;
    background: #3aa43a;
    /* box-shadow:  1px 5px 5px rgb(0,0,0,0.15); */
    border-radius:  2px;
    cursor:  pointer;
}

.hop-thoai {
    width: 600px;
    height: 472px;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 1px 5px 5px rgb(0,0,0,0.15);
    position: fixed;
    top: 27%;
    left: 45%;
    z-index: 2;
    margin: auto;
    margin-top: -120px;
    margin-left: -18%;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    transform: translateY(500px);
}
.hop-thoai h3 {
    background:  #f5f5f5;
    width:  100%;
    padding:  10px 12px;
    text-align:  center;
    color:  #212121;
}

.noi-dung {
    text-align:  center;
}

.btn-close {
    padding: 0px 10px;
    border:  none;
    color:  #fafafa;
    background: #ff00008f;
    border-radius:  2px;
    box-shadow:  1px 5px 5px rgb(0,0,0,0.15);
    cursor: pointer;
    margin-top: 1px;
    margin-right: -1166px;

}
.nen-mo{
    width: 100%;
    height: 100%;
    background: #69686870;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}
.hien-ra{
    opacity: 1;
    visibility: visible;
    transition: 0.6s;
    transform: translateY(0px);
}
.container-cm{
    /* border: 2px solid #7fad39; */
    width: 766px;
    height: 422px;
    background-color: white;
    margin: auto;
    text-align: center;
    margin-top: 20px;

}
.container-cm h5{
    /* margin-left: -555px;  */
    color: #7fad39;
    margin-bottom: 20px;
    margin-top: 30px;
}

.fullname-cm{
    width: 100%;
    height: 20%;
    margin: auto;
    margin-top: 11px;
    padding-top: 2px;
    border:1px solid #7fad39;
    background-color: #ffffff;
    border-radius: 5px;
}
i.fa.fa-star{
    color: #edbb0e;
}
.message{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-left: 5px;
    border:1px solid #7fad39;
    border-radius: 5px;

}
#submit {
    font-weight: bold;
}
.submit-cm{
    width: 100%;
    height: 40px;
    margin-top: 19px;
    color:white;
    background-color: #7fad39;
    border-color:1px solid #7fad39;
    border-radius: 5px
}
/* Write comment end */

.styles_section-3 tbody tr td.price {
    white-space: nowrap;
}
.styles_section-3 tbody tr td:last-child {
    text-align: right;
    min-width: 160px;
}
.styles_section-3 tfoot {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.styles_section-3 tfoot tr {
    border-top: none;
}
.styles_section-3 tfoot tr td:first-child {
    border-top: none;
}
.styles_section-3 tfoot tr:first-child td {
    padding-top: 30px;
}
.styles_section-3 tfoot tr td {
    text-align: right;
    display: table-cell;
    padding: 5px 20px;
    max-width: 550px;
    min-width: 125px;
    color: rgb(36, 36, 36);
}
.styles_section-3 tfoot tr td span {
    color: rgb(120, 120, 120);
    font-size: 14px;
}
.styles_section-3 tfoot tr:first-child td {
    padding-top: 30px;
}
.styles_section-3 tfoot tr td .sum {
    color: rgb(255, 59, 39);
    font-size: 18px;
}
.Account__Style .view-list-order {
    margin-bottom: 30px;
    margin-top: 20px;
    color: #8ccd28;
    display: inline-block;
    border: 1px solid transparent;
    margin-right: 15px;
    cursor: pointer;

}
.Account__Style .view-tracking-detail {
    margin-bottom: 30px;
    background: #689f38;
    border-color: #689f38;
    color: white;
    margin-top: 20px;
    padding: 9px 12px;
    width: 225px;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    font-weight: bolder;
}